@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fafafb;
  font-weight: 500;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.footer__owner {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  color: #a9a9a9;
}
